$btnPadding: 10px 15px;

.navbar {
    background: rgb(254, 254, 254);
}

.logo {
    max-width: 35px;
    margin: 0 1em 0 0;
    padding: 0;
    transform: scale(1.5);
    border-radius: 100%;
    background-color: bisque;
}

.branding {
    display: flex;
    place-items: center;
    font-weight: 600;
}

.imo {
    color: #fc1818;
}

.loginMenu {
    padding: $btnPadding;

    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.05);

    &:hover {
        outline: 1px solid #f79d43da;
    }
}

.announceBtn {
    padding: $btnPadding;
    outline: 1px solid #CA3131;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    margin: 0 0;
    transition: background-color 100ms ease-in;

    &:hover {
        color: white;
        background-color: #CA3131;
    }
}

.profile-btn {
    padding: $btnPadding;
    outline: 1px solid #CA3131;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 100ms ease-in;
    text-align: center;

    &:hover {
        color: white;
        background-color: #CA3131;
        cursor: pointer;
    }

    >a {
        &::first-letter {
            text-transform: uppercase;
        }
    }
}