.card {
    width: 100%;
    height: 100%;
}

.cardImg {
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    background: rgb(254, 254, 254);
    background: linear-gradient(180deg, rgba(254, 254, 254, 0) 40%, rgba(0, 0, 0, 0.85) 100%);
}

.cardTitle {
    font-size: 1.3em;
    font-weight: 500;
}
