.house-container {
    margin: 1em 0;
    align-items: center;
    justify-content: center;
}

.img-container {
    width: 100%;
    max-width: 500px;
    min-height: 170px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-container {
    min-width: 70%;
    position: relative;
}

.title {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.address {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.details-container {
    margin-top: 0.5em;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3em;
}

.detail {
    list-style: none;
    font-size: 0.9em;
    background-color: gray;
    color: white;
    border-radius: 0.5em;
    padding: 0 0.5em;
    margin: 0.3em 0.1em;
}

.price {
    position: absolute;
    font-size: 1.2em;
    top: 0.22em;
    right: 0.5em;
}

.date {
    position: absolute;
    right: 0.5em;
    bottom: 0;
}

@media(max-width: 767px) {
    .price {
        top: auto;
        bottom: 0;
    }
    .date {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0.5em;
    }

    .img-container {
        margin-top: 0.5em;
        height: 300px;
    }
}

