.categoriesContainer {
    padding-top: 3em;
}

.categories {
    display: flex;
    gap: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5em 0;
}

.category {
    text-align: center;
    padding: 1em 0;
    width: 130px;
    background-color: #F2F2F1;
    font-weight: 500;
    margin: 0 0.5em;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}