.lightBtn {
    
    background-color: transparent;
    border: 1px solid #CA3131 !important;
    transition: background-color 20ms ease-in-out;

    &:hover {
        background-color: #5a5147;
        border: none !important;
    }

    &:disabled {
        background-color: transparent;
        border: 1px solid gray;
    }
}