.profile-header {
    min-height: 40vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.050);
    padding: 20px 0;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 0.3em;
}

.profile-name {
    text-transform: capitalize;
}

.profile-btn-container {
    display: flex;
}

.profile-btn {
    width: 125px;
    height: 40px;
    border: none;
    background-color: white;

    &:hover {
        filter: brightness(0.9);
    }
}

.btn-color {
    background-color: #BB2D3B;
    color: white;
}

.edit-input {
    max-width: 600px;
}

.update-title {
    font-size: 1.4em;
    position: relative;
    top: -10px;
}

.profile-info {
    background-color: white;
    border-radius: 0.3em;
    padding: 1.5em 2em;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 1em;
    position: relative;
}

.profile-info-title {
    color: #595C5F;
    font-weight: 700;
}

.plano-container {
    display: flex;
    place-items: center;
    gap: 0 5px;
    margin-bottom: 1em;
}

.plano-badge {
    border-radius: 0.4em;
    margin-top: 4px;
    padding: 0 0.5em;
    font-size: 0.9em;
    background-color: #6C757D;
    color: white;
    height: 25px;
    line-height: 25px;
    font-weight: 700;
}

.plano {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #595C5F;
    ;
}

.plano-btn {
    max-width: 130px;
    border: 1px solid #BB2D3B;
    font-size: 0.9em;
    border-radius: 0.3em;
    padding: 0.3em;
    background-color: transparent;
    color: #BB2D3B;

    &:hover {
        background-color: #BB2D3B;
        color: white;
    }
}

.profile-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info--item {
    text-align: start;
    display: block;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 1em;
    transition: all 50ms ease-in-out;

    &:hover {
        cursor: pointer;
        color: black;
        background-color: #CA3131;
        color: white;
        font-weight: 300;
    }
}

.update-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    max-width: 130px;
    border: 1px solid #BB2D3B;
    font-size: 0.9em;
    border-radius: 0.3em;
    padding: 0.3em;
    background-color: transparent;
    color: #BB2D3B;

    &:hover {
        background-color: #BB2D3B;
        color: white;
    }
}