.darkBtn {
    background-color: #CA3131;
    color: white !important;

    &:hover {
        background-color: #CA3131;
        filter: brightness(0.9);
    }

    &:disabled {
        filter: grayscale(1);
        opacity: 0.5;
    }
}