.cardContainer {
    margin: 1em 0 0.5em 0;
}

.swiper {
    height: 250px;
    margin: 0;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5em;
}

.img-loading {
    background-color: rgb(83, 79, 79);
    background: linear-gradient(90deg, rgba(105,67,67,1) 1%, rgb(115,54,64,1) 50%, rgba(67,44,44,1) 100%);
    background-position: 0% 0%;
    background-size: 400% 400%;
    animation: img-load 10s ease infinite;
}

.label {
    margin-top: 0.3em;
    > h5 {
        font-size: 1em;
        margin: 0;
    }
}

@keyframes img-load {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}