.profile-details {
    flex-grow: 1;
    margin: 0 1em;
    border-radius: 1em;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.input {
    text-align: center;
}