.sidebar {
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
}

.sidebar-item {
    flex-grow: 1;
    padding: 0.5em 0;

    &:hover {
        cursor: pointer;
        color: black;
        font-weight: 500;
    }
}

@media(max-width: 991px) {
    .sidebar {
        padding: 1em 0;
    }

    .sidebar-item {
        width: auto;
        text-align: center;
    }
}

@media(max-width: 510px) {
    .sidebar-item {
        width: 50%;
    }
}

@media(max-width: 360px) {
    .sidebar-item {
        width: 100%;
    }
}